/*
Colors used:
Background Color (Beige): #edebe6;
Primary Color (Purple): #717ec3;
Secondary Color (Green): #c3b671;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

a {
  color: #192a51;
  text-decoration: none; /* No underlining */
}

a:hover,
a:focus {
  color: #967aa1;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #967aa1;
}

a:active { /* selected link */
  color: #967aa1;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
}

h4 {
  font-size: 0.85em;
  font-weight: 400;
}

img {
  width: 100%;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #192a51;
  color: #fff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #192a51; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  color: #fff;
}

.button:active {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #192a51;
  border: 2px solid #192a51;
}

.button.contact:hover {
  background-color: #192a51;
  color: #fff;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
}

.logo {
  max-width: 250px;
}

header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  display: inline-block;
  width: 100%;
}

nav > ul > li > a:visited {
  color: #967aa1;
}

header {
  width: 100%;
  height: [object Object]px;
  background: #dcdad6;
  border: solid #bdbdbd 1px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
}

#hero {
  background-color: #fff;
  padding-top: 120px;
  display: inline-block;
  width: 100%;
}

#contact h2 {
  text-align: center;
  margin: 15px;
}

#contact p {
  text-align: center;
  margin: 10px;
}

.centerbutton {
  text-align: center;
}

.social {
  text-align: center;
  margin-top: 25px;
}

.social a {
  padding: 0 10px;
}

.qxCTlb {
  margin-top: 8px;
}

footer {
  padding-top: 10px;
  border-top: 1px solid #4a4a4a;
}

.list {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
  font-weight: 600;
}
